<div id="new_question">
<h3>Ask the Duck!</h3>
  <%= form_for @question do |f| %>
    <%= f.label :title %>
    <%= f.text_field :title %><br>
    <%= f.label :body %>
    <%= f.text_area :body, size: "30x10" %>
    <%= f.submit %>
  <% end %>
<div>