<div class="login">
	<ul><%= form_tag '/sessions' %>
	  <li><%= label_tag :email %></li>
	  <li><%= email_field_tag :email %></li>
	  <li><%= label_tag :password %></li>
	  <li><%= password_field_tag :password %></li>
	  <li><%= submit_tag "Log in", class: 'btn btn-success' %></li>
	</ul>
</div>
